body {
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    background-color: white;
    
}

.titulo {
    margin-left: 16em;
    font-size: 35px;
    margin-top: 2em;
    margin-bottom: 2em;

}

.subtitulo {
    margin-left: 1em;
}

.paragrafo {
    margin-left: 0.5em;
}